<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Text Share</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<!-- <script src="cordova.js"></script> -->

<!-- your app's js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/mainapp.js"></script>
</head>
<body ng-app="TextShareApp">
  <ion-pane ng-controller="mainCtrl">

    <ion-header-bar class="bar-stable">
      <h1 class="title">Text Share</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item class="item-remove-animate item-text-wrap" ng-repeat="x in msgs" type="item-text-wrap" ng-switch on="checkHttp(x.msg)">
          <p ng-switch-when="true"><a href="{{x.msg}}">{{x.msg}}</a></p>
          <p ng-switch-default>{{x.msg}}</p>
          <ion-option-button class="button-assertive" ng-click="deleteMsg(this)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar>
      <div id="form">
        <div class="item item-input-inset" style="border: none;">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Send text..." id="m" ng-model="message" ng-keyup="$event.keyCode == 13 && msgEmit(this)">
          </label>
          <button class="button button-small" ng-click="msgEmit(this)" ng-disabled="ifInputEmpty()">
            Send
          </button>
        </div>
      </div>
    </ion-footer-bar>

  </ion-pane>
</body>
</html>
